@import 'tailwindcss';
@config '../../../tailwind.config.js';
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

#placeos
    .cdk-overlay-container
    .mat-form-field-appearance-outline
    .mat-form-field-infix,
#placeos [no-label] .mat-form-field-infix {
    padding: 0.4em 0 1em 0;
}
