

button.mat-button,
a[button],
.dark-mode button.mat-button,
.dark-mode a[button] {
    background-color: var(--primary);
    border: 1px solid var(--primary);
    color: var(--font-light);
    min-height: 3em;
    transition: background-color 200ms, color 200ms, border-color 200ms;

    &.inverse {
        background-color: #fff;
        color: var(--primary);
    }

    &.success {
        background-color: var(--success);
        border-color: var(--primary);
    }

    &.clear {
        background: none;
        border: none;
        color: var(--font-dark);
    }

    &.error {
        background: none;
        color: var(--error);
        border-color: var(--error);
    }

    &[disabled] {
        background-color: #ccc;
        border-color: rgba(0, 0, 0, 0.1);
        pointer-events: none;
    }
}
